body {
    background-color: #0c4a5b !important;
}

.hero-section {
    display: flex;
    position: relative;
}

.hero-text-container {
    flex: 1;
    background:url('../images/IMG_9214.PNG');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f5e5c8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    font-family: 'Libre Baskerville', serif;
}

.hero-text {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease;
    width: 100%;
}

.hero-text.active {
    opacity: 1;
    position: relative;
}

.hero-carousel {
    flex: 1;
}

.hero-carousel .carousel-item img {
    height: 100vh;
    object-fit: cover;
}

.hero-text h1 {
    font-family: 'Libre Baskerville', serif;
    line-height: 70px;
    font-weight: bold;
}

.hero-text h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 40px;
}

.marquee-container {
    margin-top: 5.5%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #F0EFE7;
    padding: 5px 0;
    font-size: 13px;
    color: #183D4A;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}

.marquee-content span {
    display: inline-block;
    padding-right: 2rem;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}



.hero-section2 {
    background: #f5f5ed;
    text-align: center;
    padding: 100px 10px;
    position: relative;
}

.hero-section2 h2 {
    color: #0c4a5b;
    font-family: 'Georgia', serif;
    font-style: italic;
    
}

.hero-section2 .tooth-icon {
    width: 40px;
    vertical-align: middle;
}

.tooth-fairy3 {
    animation: swing 2s infinite ease-in-out;
    transform: rotate(-30deg);
}

.tooth-fairy4 {
    animation: swing2 2s infinite ease-in-out;
    transform: rotate(30deg);
}

/* Animation keyframes */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



.hero-section3 {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.carousel-item2 {
    height: 500px;
    background-size: cover;
    background-position: center;
}

.carousel-item2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 30%, rgba(0, 64, 86, 0.9) 70%);
}

.carousel-indicators [data-bs-target] {
    background-color: #13C2CF;
}


.fixed-content {
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    max-width: 500px;
    color: #F0EFE7;
    text-align: left;
    z-index: 2;
}

.fixed-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    font-family: lora;
}

.fixed-content p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.read-more-btn {
    background-color: #f5f5ed;
    color: #0c4a5b;
    border: none;
    border-radius: 20px;
    padding: 6px 18px;
    text-decoration: none;
    font-weight: 500;
}

.experience-box {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f5d7af;
    padding: 10px 20px;
    text-align: center;
    color: #0c4a5b;
    font-weight: 600;
    z-index: 2;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}

.experience-box span {
    font-size: 48px;
    font-family: lora;
}



.dentistry-header {
    font-size: 64px;
    font-family: 'Libre Baskerville', sans-serif;
    color: #183D4A;
    font-weight: bold;
}

.dentistry-text {
    font-size: 20px;
    color: #183D4A;
    line-height: 45px;
    font-weight: 400;
    font-family: 'Montserrat', serif;
}

.dentistry-subHeader {
    padding-top: 3rem;
    color: #183D4A;
    /* opacity: 75%; */
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 50px;
}

.read-more-btn2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F0EFE7;
    background-color: #183D4A;
    padding: 12px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
}

.read-more-btn2:hover {
    background-color: #13C2CF;
    color: #F0EFE7;
    color: #183D4A;
}




.read-more-btn3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #183D4A;
    background-color: #F0EFE7;
    padding: 12px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
}

.read-more-btn3:hover {
    background-color: #13C2CF;
    color: #F0EFE7;
    color: #183D4A;
}


.tooth-fairy1 {
    padding-top: 40px;
    width: 80px;
    transform: rotate(-45deg);
}

.tooth-fairy2 {
    padding-top: 40px;
    width: 80px;
    transform: rotate(45deg);
}

.kids-cool {
    background-color: #183D4A;
}

.kids-cool div {
    color: #F0EFE7;
}

.kids-cool h1 {
    margin: 0;
    font-size: 48px;
    font-style: italic;
    font-family: 'Libre Baskerville', sans-serif;
}




.kids-contant {
    padding-left: 20px;
    color: #F0EFE7;
}


.kids-contant h2 {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 34px;
}

.kids-text {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 25px;
}

.kids-contant h4 {
    margin: 0;
    line-height: 35px;
    padding-top: 10px;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
}

.kids-contant ul {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 10px;
}

.kids-contant ul li h4 {
    font-family: Montserrat;
    line-height: 40px;
    font-size: 20px;
}


.exceptional h1 {
    font-size: 64px;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    color: #183D4A;
}



/* .testimonial-card {
    background-color: #a0f0f4;
    padding: 35px;
    border-radius: 0px 25px 0px 25px;
    font-family: 'Segoe UI', sans-serif;
    color: #003b4a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    opacity: 60%;
} */


.quote-icon {
    background-color: rgb(24, 61, 74, 0.50);
    color: black;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;

    font-style: italic;
}

.testimonial-card {
    position: relative;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgb(19, 194, 207, 0.25);
    margin: auto;
    border-radius: 0px 25px 0px 25px;
    width: 80%;
    height: fit-content;
}

.feedback-dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    opacity: 0.6;
}


.testimonial-text {
    font-style: italic;
    font-size: 14.5px;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    /* margin: 0 0 15px 0; */
    color: #183D4A;
}


.testimonial-card2 {
    position: relative;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgb(14, 117, 128, 0.25);
    margin: auto;
    border-radius: 0px 25px 0px 25px;
    width: 80%;
    height: fit-content;
}

.divider {
    border: none;
    border-top: 2px solid black;
    width: 80%;
    margin: 0 0 10px 0;
    font-weight: 900;
    margin-top: auto;
}

.author {
    font-size: 14px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
}