body {
    background-color: #F0EFE7 !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 65px;
    color: #183D4A;
    margin-top: 18%;
    text-align: left;
}

.custom-list p {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 22px;
    /* margin-top: 5%; */
    line-height: 2.3;
    color: #183D4A;
}

.custom-img {
    /* max-width: 100%; */
    max-width: 470px;
    height: auto;
    position: relative;
    top: -90px;
    right: 83px;
    margin-bottom: -50%;
}

.vdh-highlight-section {
    position: relative;
    top: 0px !important;
    /* margin-bottom: 5% !important; */
     display: flex;
    justify-content: center;
    align-items: center; 
    padding: 4rem 1rem;

}

.vdh-highlight-box {
    position: absolute;
    top: 35px;

    right: 90px !important;
    padding: 2rem;
    border-radius: 2rem;
    /* background-color: white; */
    color: #003341;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    font-size: 10px;
    line-height: 1.6;
    text-align: left;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    border-top-left-radius: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    z-index: 10;
}

.background-fill {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0%;
    background-color: #13C2CF;
    z-index: 0;
    transition: width 1.2s ease-out;
}

.vdh-highlight-box p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.3;
    /* font-weight: normal; */
}


.vdh-highlight-box.animate .background-fill {
    width: 100%;
}

.gentral-text {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    /* Adjust as needed */
    line-height: 50px;
    text-align: center;
    margin: 2rem 0;
    letter-spacing: 0.8px;
}

.my-circles {
    position: relative;
    top: 70px;
    right: 270px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00eaff, #003b49);
}

.small {
    width: 20px;
    height: 20px;
    top: -143px;
    left: 17%;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}

.medium {
    width: 30px;
    height: 30px;
    top: -119px;
    left: 19%;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 40px;
    height: 40px;
    top: -85px;
    left: 22%;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}

.star-icon,
.star-icon2,
.second-star-icon {
    max-width: 100%;
}

.star-icon {
    margin-top: 190%;
    margin-left: 93%;
}
.star-icon2 {
    width: 80px;
    margin-top: 100%;
    margin-left: 40%;
    /* margin-left: 100%; */
}

.second-star-icon {
    position: relative;
    width: 80px;
    margin-left: 80%;
    top: -50px;
    display: block;
}

.box-style {

    font-size: 30px;
    text-align: left !important;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-top: 1rem; */
    background-color: #003341;
    color: #E8D8B7;
    border-radius: 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px -5px 0 #E8D8B7;
}


.vdh-highlight-box {
    position: absolute;
    top: 35px;
    right: 120px !important;
    padding: 2rem;
    padding-left: 65px;
    border-radius: 2rem;
    /* background-color: white; */
    color: #003341;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    font-size: 10px;
    line-height: 1.6;
    text-align: left;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    border-top-left-radius: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    z-index: 10;
}

/* MEDIA QUERY  */

@media (max-width:1115px){
    .vdh-highlight-box {
        position: absolute;
        top: 35px;
        right: 10px !important;
        padding: 2rem;
        border-radius: 2rem;
        /* background-color: white; */
        color: #003341;
        overflow: hidden;
        max-width: 800px;
        width: 100%;
        font-size: 10px;
        line-height: 1.6;
        text-align: left;
        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
        border-top-left-radius: 0;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        z-index: 10;
    }
    
}

@media (max-width:3000px) and (min-width:1400px) {
    .vdh-highlight-box {
        right: 25%;
    }
}

@media (max-width:1027px) and (min-width:770px) {
    .vdh-highlight-box {
        right: 7%;
    }

    .star-icon2 {
        margin-left: 0px;
        margin-top: 141%
;
    }
}

@media (max-width:825px) and (min-width:768px) {
    .custom-img
    {
       /* max-width: 100%; */
       max-width: 470px;
       height: auto;
       position: relative;
       top: -90px;
       right: 65px !important;
       /* margin-bottom: 15%; */
   }

}
@media (max-width:770px) and (min-width:768px) {
    .custom-img
    {
       /* max-width: 100%; */
       max-width: 470px;
       height: auto;
       position: relative;
       top: -90px;
       right: 65px !important;
       margin-bottom: 15%;
   }

}

@media (max-width:768px) and (min-width:766px) {

.small {
    width: 20px;
    height: 20px;
    top: -143px;
    left: 23%;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}

.medium {
    width: 20px !important;
    height: 20px !important;
    top: -84px !important;
    left: 25% !important;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 30px !important;
    height: 30px !important;
    top: -67px !important;
    left: 27% !important;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}
}



@media (max-width:770px) and (min-width:499px) {
    .title {
        font-size: 35px;
        text-align: center;
    }

    .custom-img
     {
        /* max-width: 100%; */
        max-width: 470px;
        height: auto;
        position: relative;
        top: -90px;
        right: 83px;
        /* margin-bottom: 15%; */
    }

    .star-icon2 {
        margin-left: 0px;
    }

    .custom-list p {
        font-size: 15px;
    }

    .vdh-highlight-box p {
        font-size: 11px;
    }

    .vdh-highlight-box {
        right: 20px !important;
        top: -25% !important;
    }

    .my-circles {
        top: 0px !important;
        right: 200px;
    }

    .gentral-text {
        font-size: 15px;
    }

    .gentral-text-br {
        display: none;
    }

    .box-style {
        font-size: 15px;
    }
}


@media (max-width:771px) and (min-width:767px) {

    .star-icon2
     {
            width: 80px;
            margin-top: 103% !important;
            /* margin-left: 40%; */
            /* margin-left: 100%; */
        }
}

@media (max-width:499px) and (min-width:399px) {
    .title {
        font-size: 30px;
        text-align: center;
    }

    .star-icon {
        max-width: 70px !important;
    }

    .custom-img {
        width: 300px;
        top: -100px !important;
        left: 100px !important;
    }

    .custom-list p {
        font-size: 13px;
    }

    .vdh-highlight-box p {
        font-size: 10px;
    }

    .vdh-highlight-box {
        top: -200px !important;
        right: 30px !important;
    }

    .star-icon2 {
        max-width: 200px;
        margin-left: 0px;
    }

    .gentral-text-br {
        display: none;
    }

    .gentral-text {
        font-size: 14px;
        line-height: 3;
    }

    .box-style {
        font-size: 15px;
    }
}

@media (max-width:399px) {
    .title {
        font-size: 20px;
        text-align: center;
    }

    .star-icon {
        max-width: 70px !important;
    }

    .custom-img {
        width: 273px;
        top: -116px !important;
        left: 13px !important;
    }

    .custom-list p {
        font-size: 13px;
    }

    .vdh-highlight-box p {
        font-size: 8px;
    }

    .vdh-highlight-box {
        top: -200px !important;
        right: 30px !important;
    }

    .star-icon2 {
        max-width: 200px;
        margin-left: 0px;
        /* margin-top: 76px !important; */
    }

    .gentral-text-br {
        display: none;
    }

    .gentral-text {
        font-size: 14px;
        line-height: 3;
    }

    .box-style {
        font-size: 15px;
    }
}

@media (max-width:991px) {
    .title {
        font-size: 32px;
        margin-top:19%;
        /* text-align: center; */
    }
    .custom-list p
 {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 19px;
    /* margin-top: 5%; */
    line-height: 2.3;
    color: #183D4A;
}

.small {
    width: 20px;
    height: 20px;
    top: -143px;
    left: 23%;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}

.medium {
    width: 30px;
    height: 30px;
    top: -119px;
    left: 27%;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 40px;
    height: 40px;
    top: -85px;
    left: 32%;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}
.star-icon2 {
    width: 80px;
    margin-top: 234%;
    /* margin-left: 40%; */
    /* margin-left: 100%; */
}
.list-style ul li {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7 !important;
}
.custom-img {
    right: 29px;
    margin-top: 40% !important;
    /* margin-right: 95%; */
    margin-left: -104px;
}
}

@media (max-width:768px) {
    .small {
        width: 10px;
        height: 10px;
        top: -93px;
        left: 23%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -79px;
        left: 27%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large {
        width: 30px;
        height: 30px;
        top: -55px;
        left: 32%;
        box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
    }

    .custom-img {
        margin-bottom: -150px !important;
        margin-top: 90px !important;
        margin-left: 2px !important;
    }
    .title{
        margin-top: 10%;
    }
    .custom-list p {
        margin-top: -39px;
        margin-bottom: 10%;
    }
    .tooth-list {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px !important;
        list-style: none;
        padding-left: 0;
    }

    }
    @media (max-width:767px) {
        .star-icon2 {
            width: 80px;
            margin-top: 272% !important;
            margin-left: -30%;
            /* margin-left: 100%; */
        }
    }


    


@media (max-width:590px) {
    .small {
        width: 10px;
        height: 10px;
        top: -89px;
        left: 31%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -76px;
        left: 33%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large {
        width: 30px;
        height: 30px;
        top: -55px;
        left: 36%;
        box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
    }
    .star-icon2 {
        width: 40px;
        margin-top: 258% !important;
      
    }
    }
    @media (max-width:400px) {
    .star-icon2 {
        width: 30px;
        margin-top: 194%;
        margin-left: -10px;
    }
}

    @media (max-width:499px) {
    .vdh-highlight-box {
        position: absolute;
        top: 5px !important;
        right: 10px;
        padding: 2rem;
        border-radius: 2rem;
        /* background-color: white; */
        color: #003341;
        overflow: hidden;
        max-width: 800px;
        width: 100%;
        font-size: 10px;
        line-height: 1.6;
        text-align: left;
        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
        border-top-left-radius: 0;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 60px;
        z-index: 10;
    }
    .small {
        width: 10px;
        height: 10px;
        top: -138px;
        left: 54%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -120px;
        left: 56%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -98px;
            left: 59%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
        .bg-fill-ul li {
            margin-bottom: 1rem;
            font-size: 14px !important;
            line-height: 1.2;
            display: flex
        ;
            align-items: flex-start;
            /* margin-left: 30px; */
        }
        .star-icon2 {
            width: 40px;
            margin-top: 342% !important;
        }
        .custom-img {
            margin-bottom: -150px !important;
            margin-top: 90px !important;
            margin-left: -30px !important;
        }
}

@media(max-width:469px){
.custom-img {
    margin-bottom: -150px !important;
    margin-top: 90px !important;
    margin-left: -78px !important;
}
}

@media(max-width:469px){
    .bg-fill-ul li {
        margin-bottom: 1rem;
        font-size: 12px !important;
        line-height: 1.1;
        display: flex
    ;
        align-items: flex-start;
        /* margin-left: 30px; */
    }
}

@media(max-width:414px){
    .bg-fill-ul li {
        margin-bottom: 1rem;
        font-size: 10px !important;
        line-height: 1.1;
        display: flex
    ;
        align-items: flex-start;
        /* margin-left: 30px; */
    }
    .star-icon2 {
        width: 40px;
        margin-top: 394%;
    }
}

@media(max-width:399px){
    .custom-img {
        right: -9px !important;
        margin-top: 30% !important;
        /* margin-right: 95%; */
        margin-left: -10px !important;
    }
    .list-style ul li {
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 13px !important;
        line-height: 2.3;
        color: #183D4A;
    }
}

@media(max-width:383px){
  .title{
    font-size: 24px;
    margin-top: 15%;
  }
  .tooth-list {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px !important;
    list-style: none;
    padding-left: 0;
}
}


@media (max-width: 768px) {
    .tooth-list {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px !important;
        list-style: none;
        padding-left: 0;
    }
}
@media (max-width: 584px) {
    .tooth-list {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px !important;
        list-style: none;
        padding-left: 0;
    }
}

@media (max-width: 426px) {
    .trauma-container {
        flex-direction: column;
        /* gap: 30px; */
    }
    .teeth-icon-style
     {
        color: #00bcd4;
        font-size: 20px;
    }
    .tooth-list {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px !important;
        list-style: none;
        padding-left: 0;
    }
    .trauma-column {
        width: 85% !important;
        margin-left: 8%;
        max-width: 450px;
    }
}



@media(max-width:379px){
    .star-icon2 {
        width: 30px;
        margin-top: 507% !important;
        margin-left: -10px;
    }
  }

  @media(max-width:354px){
    .star-icon2 {
        width: 30px;
        margin-top: 645% !important;
        margin-left: -10px;
    }
    .tooth-list {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px !important;
        list-style: none;
        padding-left: 0;
    }
  }
.custom-img {
    right: -19px;
    margin-top: 20%;
    /* margin-right: 95%; */
    margin-left: -40px;
}
.custom-list p {
    /* margin-top: -89px; */
    margin-bottom: 10%;
}



@media (max-width:471px) {

    .small {
        width: 10px;
        height: 10px;
        top: -138px;
        left: 58%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -120px;
        left: 60%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -98px;
            left: 63%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
}
@media (max-width:452px) {

    .small {
        width: 10px;
        height: 10px;
        top: -135px;
        left: 64%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -122px;
        left: 66%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -100px;
            left: 69%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
}
@media (max-width:421px) {

    .small {
        width: 10px;
        height: 10px;
        top: -145px;
        left: 74%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -132px;
        left: 76%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -110px;
            left: 78%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
}

@media (max-width:383px)  {

    .small {
        width: 10px;
        height: 10px;
        top: -145px;
        left: 81%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -132px;
        left: 82%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -110px;
            left: 85%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
}

@media (max-width:361px)  {

    .small {
        width: 10px;
        height: 10px;
        top: -145px;
        left: 92%;
        box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
    }
    
    .medium {
        width: 20px;
        height: 20px;
        top: -132px;
        left: 93%;
        box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
    }
    
    .large
  
     {
            width: 30px;
            height: 30px;
            top: -110px;
            left: 96%;
            box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
        }
}


/* ________________________________________microscopic___________________________________________________________ */
.section-heading {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 28px;
    color: #0d3b4e;
    margin-bottom: 1rem;
}

.tooth-list {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    list-style: none;
    padding-left: 0;
}

.tooth-list li {
    margin-bottom: 0.8rem;
}

.first-list {
    margin-left: 50px;
}

.second-list {
    margin-left: 30px;
}

.teeth-icon-style {
    color: #00bcd4;
    font-size: 25px;
}

.list-style ul li {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 2.3;
    color: #183D4A;
}

.star-icon-style {
    width: 100px;
}
.special{
    margin-top: -5%;
}