.title {
    font-family: 'Libre Baskerville', serif;
  font-size: 52px;
  font-weight: 700;
  color: #003b49;
  padding-top: 10%;
margin-left: 2%;
}

.custom-img {
    width: 531px;
    margin-top: -20%;
    margin-left: -14%;
    margin-bottom: -20%;
  }
  
  @media(max-width:996px){
    .custom-img {
        width: 100%;
        margin-top: 1% !important;
        margin-left: -19%;
    }
  
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 65px;
        font-weight: 700;
        color: #003b49;
        padding-top: 10%;
    }

  }

  @media (max-width: 767px) {
    .custom-img {
        width: 90% !important;
        max-width: 500px;
        margin-top: -13% !important;
        margin-left: 2% !important;
        margin-bottom: -15%;
    }
    .title {
        text-align: center;
        font-size: 48px !important;
        margin-bottom: 0%;
        padding-top: 13% !important;
        padding-bottom: 3%;
    }

  }
  
  @media (max-width: 991px) {
    .custom-img {
        width: 148%;
        max-width: 1000px;
        margin-top: -38%;
        margin-left: -30%;
    }
}
  
  
  
  @media (max-width: 430px) {
    .title {
        text-align: center;
        font-size: 31px !important;
        margin-bottom: 0%;
        padding-top: 14% !important;
    }
  }
  
  @media (max-width: 991px) {
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 34px !important;
        font-weight: 700;
        color: #003b49;
        padding-top: 17%;
        margin-bottom: 5%;
    }
  }
    
/* ________________star________________________ */
  .star-icon {
    width: 100%;
    margin-left: -10% !important;
    margin-top: 80%;

}
@media (max-width: 996px) {
  

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
}
@media (max-width:768px) {
  

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
}
@media (max-width:430px) {
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
}
@media (max-width:380px) {
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
}

/* ______________________________list-style ul li_____________________________________ */
.list-style ul li {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 2.3;
    margin-left: -22px;
    color: #183D4A;
}
@media (max-width:430px) {

    .list-style ul li {
        line-height: 3;
        margin-top: 0px;
        font-size: 16px;
    }
}
@media (max-width:590px) {
    .list-style ul li {
        /* line-height: 3; */
        font-size: 18px;
        margin-left: 4%;
    }
}

@media (max-width:380px) {

    .list-style ul li {
        margin-top: 0px;
        font-size: 13px !important;
    }
}
@media (max-width:320px) {

    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }
}
@media(max-width:996px){

    .list-style ul li {
        /* line-height: 3; */
        margin-top: 0px;
        font-size: 15px !important;
        line-height: 2.0 ;
    }
}
@media (max-width: 767px) {
    .list-style ul li {
        /* line-height: 3; */

        font-size: 18px;
    }
}

/* _____________________________highlight box_______________________________________________ */

.my-circles {
    position: relative;

}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00eaff, #003b49);
}

.small {
    width: 20px;
    height: 20px;
    top: -68px;
    left: -3.5%;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}


.medium {
    width: 30px;
    height: 30px;
    top: -45px;
    left: -2%;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 40px;
    height: 40px;
    top: -15px;
    left: 0%;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}

.vdh-highlight-section {
    padding: 2rem;
}


.vdh-highlight-box {
    position: relative;
    border-radius: 2rem;
    /* background-color: white !important; */
    /* INITIAL background is white */
    color: #000;
    overflow: hidden;
    transition: background-color 1.2s ease-out;
    /* Added transition for background color */
    color: rgb(3, 3, 3);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 1.0;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;


}

/* The animated fill layer */
.background-fill {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0%;
    background-color: #00bcd4;
    z-index: 0;
    transition: width 1.2s ease-out;
    /* border-radius: 2rem; */

}

/* Text stays on top */
.vdh-highlight-box p {
    position: relative;
    z-index: 1;
    margin: 0;
    color: #183D4A;
    line-height: 2.3;

}



.vdh-highlight-box.animate .background-fill {
    width: 100%;
}
@media (max-width: 996px) {
    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }
    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -17px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: 4px;
        left: 3%;
    }
}

@media (max-width:768px) {
    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -2%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -19px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: 3px;
        left: 2%;
    }
}
@media (max-width:430px) {
    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -18px;
        left: 0%;
    }

    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -1.5%;
    }

    .vdh-highlight-section {
        padding: 2.5rem 0rem 1.5rem 2.5rem;
    }
}
@media (max-width:380px) {
    .vdh-highlight-section {
        padding: 1.5rem 0rem 1.5rem 2.5rem;
    }

    .vdh-highlight-box p {
        padding: 4px;
        font-size: 11px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }
    .small {
        width: 10px;
        height: 10px;
        top: -38px;
        left: -1.5%;
    }


    .medium {
        width: 17px;
        height: 17px;
        top: -23px;
        left: 1%;
    }

    .large {
        width: 23px;
        height: 23px;
        top: -2px;
        left: 5%;
    }
}
@media (max-width:320px) {
    .title {
        text-align: center;
        font-size: 19px !important ;
        margin-bottom: 0%;
        padding-top: 9%;
    }

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }

    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }

    .vdh-highlight-box p {
        font-size: 10px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -45px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -30px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: -10px;
        left: 3%;
    }

    .vdh-highlight-section {
        padding: 1.5rem 0rem 1.5rem 2.5rem;
    }

}

/* ___________________________staricon2______________________________________________ */
/* .star-icon2 { */
    /* width: 70px;
    height: 70px;
    margin-left: 30%;
    margin-top: 50% !important;
} */

@media(max-width:500px){
    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
        margin-left: -6%;
        margin-bottom: -14%;
    }

}

/* ___________________________________________teeth icon______________________________________________________ */
.teeth-icon-style {
    font-size: 24px;
    color: #00bfff;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
    top: 5px !important;
    /* 👈 this nudges the icon slightly downward */
}

.teeth-icon-style2 {
    font-size: 30px;
    color: #00bfff;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;

}


.sicu-icon-text {
    display: flex;
    line-height: 1.7;
    align-items: flex-start;

}

.sicu-text-block {
    max-width: 100%;
}
@media(max-width:500px){
    .section-heading {
        font-size: 27px;
        /* font-weight: 600; */
        color: #000;
  
    }
    .benefit-item {
        font-family: Montserrat;
        font-size: 17px;
        margin-bottom: 10px;
        color: #333;
        line-height: 50px;
    }
}


@media(max-width:320px){
    .benefit-item {
        font-family: Montserrat;
        font-size: 15px !important;
        margin-bottom: 10px;
        color: #333;
        line-height: 50px;
    }
}



@media(max-width:320px){
.teeth-icon-style
 {
    font-size: 19px;
    color: #00bfff;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
    top: 5px !important;
}
}

/* __________________________________________download __________________________________________________________ */

@media(max-width:708px){
    .download-title
    {
       font-size: 29px;
       font-family: Lora;
       color: black;
   }
}
@media (max-width: 645px) {
    .download-title {
        font-size: 23px;
        font-family: Lora;
        color: black;
    }
}

/* _________________________1115__________________________________________ */
@media (max-width: 1115px) {
.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 45px;
    font-weight: 700;
    color: #003b49;
    padding-top: 10%;
    margin-left: 2%;
}
.list-style ul li {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 2.3;
    margin-left: -22px;
    color: #183D4A;
}

}