.title {
  font-size: 40px;
  font-weight: 700;
  color: #003b49;
  padding-top: 4%;
}

.star-icon {
  width: 100%;
  margin-left: -10% !important;
  margin-top: 80%;

}

.list-style ul li {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.3;
  color: #183D4A;
}

.star-icon-style {
  width: 100px;
}

.star-icon2 {
  width: 70px;
  height: 70px;
  margin-left: 30%;
}

.my-circles {
  position: relative;

}

.circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to bottom, #00eaff, #003b49);
}

.small {
  width: 20px;
  height: 20px;
  top: -59px;
  left: -3.5%;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}


.medium {
  width: 30px;
  height: 30px;
  top: -39px;
  left: -2%;
  box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
  width: 40px;
  height: 40px;
  top: -10px;
  left: 0%;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}

.vdh-highlight-section {
  padding: 2rem;
}



.vdh-highlight-box {
  position: relative;
  border-radius: 2rem;
  /* INITIAL background is white */
  color: #000;
  overflow: hidden;
  transition: background-color 1.2s ease-out;
  /* Added transition for background color */
  color: rgb(3, 3, 3);
  padding: 2rem;
  max-width: 800px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0px !important;
  border-top-right-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;


}

/* The animated fill layer */
.background-fill {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 0%;
  background-color: #00bcd4;
  z-index: 0;
  transition: width 1.2s ease-out;
  /* border-radius: 2rem; */

}

/* Text stays on top */
.vdh-highlight-box p {
  position: relative;
  z-index: 1;
  margin: 0;
  line-height: 2.3;
}

/* When in view, animate background fill and change background color */
.vdh-highlight-box.animate {
  background-color: #00bcd4;
  /* **Changed background color to blue when in view** */
}

.vdh-highlight-box.animate .background-fill {
  width: 100%;
}

.feature {
  background-color: #183D4A;
}

.feature .header {
  padding: 0px 100px 0px 100px;
}

.feature .header h1 {
  padding: 20px 50px 20px 50px;
  font-size: 48px;
  color: #ECD8B6;
  line-height: 2;
  font-family: lora;
}

.content ul li span {
  line-height: 2.5;
  font-family: Montserrat;
  font-size: 24px;
  color: #ECD8B6;
}

.content ul li {
  line-height: 2.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
}

.scope h3 {
  padding-top: 30px;
  font-family: Lora, serif;
  font-weight: bold;
  color: #003b49;
}

.scope h5 {
  position: relative;
  padding-left: 30px;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #004b63;
  font-family: lora;
  font-weight: bold;
}

.scope h5::before {
  content: "🦷";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  color: #00acc1;
}

.scope ul {
  list-style-type: disc;
  padding-left: 50px;
  margin-top: 5px;
}

.scope li {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 2;
  font-family: Montserrat;
}

.scope p {
  padding-left: 30px;
  margin-top: 5px;
  font-size: 1.4rem;
}

.scope strong {
  color: #004b63;
}

@media (max-width:1200px) {
  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    line-height: 2;
  }
}

@media (max-width:996px) {
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0%;
    padding-top: 7%;
    padding-bottom: 3%;
  }

  .star-icon {
    width: 14%;
    margin-left: 0% !important;
    margin-top: -24%;
  }

  .list-style ul li {
    /* line-height: 3; */
    margin-top: 0px;
    font-size: 13px;
  }

  .vdh-highlight-section {
    padding: 2.5rem;
  }

  .vdh-highlight-box p {
    line-height: 2;
    padding: 4px;
    font-size: 13px;
  }

  .vdh-highlight-box {
    padding: 1.2rem;
    font-size: 14px;
  }


  .small {
    width: 10px;
    height: 10px;
    top: -31px;
    left: -3.5%;
  }


  .medium {
    width: 20px;
    height: 20px;
    top: -17px;
    left: -1%;
  }

  .large {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 3%;
  }
}


@media (max-width:768px) {
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0%;
    padding-top: 7%;
    padding-bottom: 3%;
  }

  .star-icon {
    width: 14%;
    margin-left: 0% !important;
    margin-top: -24%;
  }

  .list-style ul li {
    /* line-height: 3; */
    margin-top: 0px;
    font-size: 13px;
  }

  .vdh-highlight-section {
    padding: 2.5rem;
  }

  .vdh-highlight-box p {
    line-height: 2;
    padding: 4px;
    font-size: 13px;
  }

  .vdh-highlight-box {
    padding: 1.2rem;
    font-size: 14px;
  }


  .small {
    width: 10px;
    height: 10px;
    top: -31px;
    left: -3.5%;
  }


  .medium {
    width: 20px;
    height: 20px;
    top: -17px;
    left: -1%;
  }

  .large {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 3%;
  }


  .feature .header {
    padding: 0px 0px 0px 0px;
  }

  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 26px;
    line-height: 2;
  }

  .content ul li span {
    line-height: 2.5;
    font-size: 18px;
  }

  .content ul li {
    line-height: 2.5;
    font-size: 16px;
  }

  .scope h3 {
    padding-top: 30px;
  }

  .scope h5 {
    padding-left: 30px;
    margin-top: 24px;
    font-size: 1.3rem;
  }

  .scope h5::before {
    content: "🦷";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
  }

  .scope ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 5px;
  }

  .scope li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
  }

  .scope p {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 2;
  }
}

@media (max-width:650px) {
  .title {
    text-align: center;
    font-size: 33px;
    margin-bottom: 0%;
    padding-top: 11%;
  }

  .list-style ul li {
    line-height: 3;
  }

  .feature .header {
    padding: 0px 0px 0px 0px;
  }

  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 2;
  }

  .content ul li span {
    line-height: 2.5;
    font-size: 16px;
  }

  .content ul li {
    line-height: 2.5;
    font-size: 13px;
  }

  .scope h3 {
    padding-top: 30px;
  }

  .scope h5 {
    padding-left: 30px;
    margin-top: 24px;
    font-size: 1rem;
  }

  .scope h5::before {
    content: "🦷";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
  }

  .scope ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 5px;
  }

  .scope li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
  }

  .scope p {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
  }
}

@media (max-width:430px) {
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0%;
    padding-top: 11%;
  }

  .star-icon {
    width: 14%;
    margin-left: 0% !important;
    margin-top: -24%;
  }

  .list-style ul li {
    line-height: 3;
    margin-top: 0px;
    font-size: 16px;
  }

  .vdh-highlight-section {
    padding: 2.5rem;
  }

  .vdh-highlight-box p {
    line-height: 2;
    padding: 4px;
    font-size: 13px;
  }

  .vdh-highlight-box {
    padding: 1.2rem;
    font-size: 14px;
  }


  .small {
    width: 10px;
    height: 10px;
    top: -31px;
    left: -3.5%;
  }


  .medium {
    width: 20px;
    height: 20px;
    top: -17px;
    left: -1%;
  }

  .large {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 3%;
  }

  .vdh-highlight-section {
    padding: 2.5rem 0rem 1.5rem 2.5rem;
  }

  .feature .header {
    padding: 0px 0px 0px 0px;
  }

  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 2;
  }

  .content ul li span {
    line-height: 2.5;
    font-size: 16px;
  }

  .content ul li {
    line-height: 2.5;
    font-size: 13px;
  }

  .scope h3 {
    padding-top: 30px;
  }

  .scope h5 {
    padding-left: 30px;
    margin-top: 24px;
    font-size: 1rem;
  }

  .scope h5::before {
    content: "🦷";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
  }

  .scope ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 5px;
  }

  .scope li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
  }

  .scope p {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
  }
}


@media (max-width:380px) {
  .title {
    text-align: center;
    font-size: 21px;
    margin-bottom: 0%;
    padding-top: 9%;
  }

  .star-icon {
    width: 14%;
    margin-left: 0% !important;
    margin-top: -24%;
  }

  .list-style ul li {
    margin-top: 0px;
    font-size: 14px;
  }

  .vdh-highlight-section {
    padding: 1.5rem 0rem 1.5rem 2.5rem;
  }

  .vdh-highlight-box p {
    padding: 4px;
    font-size: 11px;
  }

  .vdh-highlight-box {
    padding: 1.2rem;
    font-size: 14px;
  }


  .small {
    width: 10px;
    height: 10px;
    top: -31px;
    left: -3.5%;
  }


  .medium {
    width: 20px;
    height: 20px;
    top: -17px;
    left: -1%;
  }

  .large {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 3%;
  }


  .feature .header {
    padding: 0px 0px 0px 0px;
  }

  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 2;
  }

  .content ul li span {
    line-height: 2.5;
    font-size: 16px;
  }

  .content ul li {
    line-height: 2.5;
    font-size: 13px;
  }

  .scope h3 {
    padding-top: 30px;
  }

  .scope h5 {
    padding-left: 30px;
    margin-top: 24px;
    font-size: 1rem;
  }

  .scope h5::before {
    content: "🦷";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2rem;
  }

  .scope ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 5px;
  }

  .scope li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
  }

  .scope p {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
  }

}



@media (max-width:320px) {
  .title {
    text-align: center;
    font-size: 21px;
    margin-bottom: 0%;
    padding-top: 9%;
  }

  .star-icon {
    width: 14%;
    margin-left: 0% !important;
    margin-top: -24%;
  }

  .list-style ul li {
    margin-top: 0px;
    font-size: 14px;
  }

  .vdh-highlight-box p {
    font-size: 10px;
  }

  .vdh-highlight-box {
    padding: 1.2rem;
    font-size: 14px;
  }


  .small {
    width: 10px;
    height: 10px;
    top: -45px;
    left: -3.5%;
  }


  .medium {
    width: 20px;
    height: 20px;
    top: -30px;
    left: -1%;
  }

  .large {
    width: 30px;
    height: 30px;
    top: -10px;
    left: 3%;
  }

  .vdh-highlight-section {
    padding: 1.5rem 0rem 1.5rem 2.5rem;
  }


  .feature .header {
    padding: 0px 0px 0px 0px;
  }

  .feature .header h1 {
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    line-height: 2;
  }

  .content ul li span {
    line-height: 2.5;
    font-size: 16px;
  }

  .content ul li {
    line-height: 2.5;
    font-size: 13px;
  }

  .scope h3 {
    padding-top: 30px;
  }

  .scope h5 {
    padding-left: 30px;
    margin-top: 24px;
    font-size: 1rem;
  }

  .scope h5::before {
    content: "🦷";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.5rem;
  }

  .scope ul {
    list-style-type: disc;
    padding-left: 50px;
    margin-top: 5px;
  }

  .scope li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
  }

  .scope p {
    padding-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
  }

}