
.custom-img {
    width: 531px;
    margin-top: 15%;
    margin-left: -44%;
    margin-bottom: -19%;
}

@media(max-width:996px){
    .custom-img{
        width: 100% ;

        margin-top: 25%;
        margin-left: -19%;
    }
 
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 65px;
        font-weight: 700;
        color: #003b49;
        padding-top: 10%;
    }
    .list-style ul li {
        /* line-height: 3; */
        margin-top: 0px;
        font-size: 16px;
        line-height: 2.0 !important;
    }
}


@media (max-width: 991px) {
    .custom-img {
        width: 148%;
        max-width: 1000px;
        margin-top: 41%;
        margin-left: -52%;
    }
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 55px !important;
        font-weight: 700;
        color: #003b49;
        padding-top: 10%;
    }
}

@media (max-width: 767px) {
    .custom-img {
        width: 90%;
        max-width: 1000px;
        margin-top: -8%;
        margin-left: 1%;
        margin-bottom: 5%;
    }
    .title {
        text-align: center;
        font-size: 48px !important;
        margin-bottom: 0%;
        padding-top: 11%;
        padding-bottom: 3%;
    }
    .list-style ul li {
        /* line-height: 3; */
        margin-top: -49px !important;
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    .title {
        text-align: center;
        font-size: 33px !important;
        margin-bottom: 0%;
        padding-top: 11%;
    }
}




.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    font-weight: 700;
    color: #003b49;
    padding-top: 10%;
}

.star-icon {
    width: 100%;
    margin-left: -10% !important;
    margin-top: 80%;

}

.list-style ul li {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 2.3;
    margin-left: -22px;
    color: #183D4A;
}



.star-icon2 {
    width: 70px;
    height: 70px;
    margin-left: 30%;
}

.my-circles {
    position: relative;

}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00eaff, #003b49);
}

.small {
    width: 20px;
    height: 20px;
    top: -68px;
    left: -3.5%;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.6);
}


.medium {
    width: 30px;
    height: 30px;
    top: -45px;
    left: -2%;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.6);
}

.large {
    width: 40px;
    height: 40px;
    top: -15px;
    left: 0%;
    box-shadow: 0 8px 3px rgba(0, 0, 0, 0.6);
}

.vdh-highlight-section {
    padding: 2rem;
}


.vdh-highlight-box {
    position: relative;
    border-radius: 2rem;
    /* background-color: white !important; */
    /* INITIAL background is white */
    color: #000;
    overflow: hidden;
    transition: background-color 1.2s ease-out;
    /* Added transition for background color */
    color: rgb(3, 3, 3);
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 1.0;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
    border-bottom-left-radius: 60px !important;


}

/* The animated fill layer */
.background-fill {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0%;
    background-color: #00bcd4;
    z-index: 0;
    transition: width 1.2s ease-out;
    /* border-radius: 2rem; */

}

/* Text stays on top */
.vdh-highlight-box p {
    position: relative;
    z-index: 1;
    margin: 0;
    color: #183D4A;
    line-height: 2.3;

}



.vdh-highlight-box.animate .background-fill {
    width: 100%;
}

.general {
    display: flex;
    justify-content: center;
}

.general .gentral-text {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    max-width: 950px;
    
    /* Adjust as needed */
    line-height: 50px;
    text-align: center;
    margin: 2rem 0;
    margin-left: 5%;
    letter-spacing: 0.8px;
}

.general .gentral-text2 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    max-width: 950px;
    margin-left: 5% !important;
    /* Adjust as needed */
    line-height: 50px;
    /* margin-top: -15%; */
    text-align: center;
    margin: 2rem 0;
    letter-spacing: 0.8px;
}
.number{
    font-family: Lora;
}

.star-icon,
.star-icon2,
.second-star-icon {
    max-width: 100%;
}

.second-star-icon {
    position: relative;
    width: 76px !important;
    margin-left: 93%;
    top: -71px;
    display: block;
}

.box-style {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 30px;
    text-align: left;
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin-top: 1rem; */
    background-color: #003341;
    color: #E8D8B7;
    border-radius: 2px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -5px -5px 0 #E8D8B7;
    margin-bottom: 6%;
}
@media (max-width: 527px) {
    .box-style {
        font-size: 13px !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
}

@media (max-width: 460px) {
    .box-style {
        font-size: 12px !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
}

@media (max-width: 996px) {
  

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }



    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -17px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: 4px;
        left: 3%;
    }

    .box-style {
        font-size: 16px;
        text-align: center;
        padding: 18px 18px 18px 18px;
        margin-top: -5%;
    }
}

@media (max-width:768px) {
  

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }



    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -2%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -19px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: 3px;
        left: 2%;
    }

    .general .gentral-text {
        line-height: 2.3;
        font-size: 15px;
        margin-left: 0%;
    }

    .general .gentral-text2 {
        line-height: 2.3;
        font-size: 15px;
        margin-left: 0% !important;
    }

    .box-style {
        font-size: 15px;
        text-align: center !important;
        padding: 15px 15px 15px 15px;
        margin-top: -9%;
    }
}

@media (max-width:650px) {
    .title {
        text-align: center;
        font-size: 33px;
        margin-bottom: 0%;
        padding-top: 11%;
    }

    .list-style ul li {
        line-height: 3;
    }

    .general .gentral-text {
        font-size: 14px;
        line-height: 2.2;
        margin-left: 0% !important;
    }
    .general .gentral-text2 {
        font-size: 14px;
        line-height: 2.2;
        margin-left: 0% !important;
    }

    .box-style {
        font-size: 15px;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center;
    }
}



@media (max-width:430px) {
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }

    .list-style ul li {
        line-height: 3;
        margin-top: 0px;
        font-size: 16px;
    }

    .vdh-highlight-section {
        padding: 2.5rem;
    }

    .vdh-highlight-box p {
        line-height: 2;
        padding: 4px;
        font-size: 13px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -18px;
        left: 0%;
    }

    .small {
        width: 10px;
        height: 10px;
        top: -31px;
        left: -1.5%;
    }

    .vdh-highlight-section {
        padding: 2.5rem 0rem 1.5rem 2.5rem;
    }

    .general .gentral-text {
        font-size: 14px;
        line-height: 2.2;
        margin-left: 0%;
    }
    .general .gentral-text2 {
        font-size: 14px;
        line-height: 2.2;
        margin-left: 0%;
    }

    .box-style {
        font-size: 11px !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center !important;
    }
}
@media (max-width: 393px) {
    .box-style {
        font-size: 9px !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center !important;
        margin-top: -15%;
    }
}
@media (max-width: 327px) {
    .box-style {
        font-size: 8px !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
        text-align: center !important;
    }
}


@media (max-width:380px) {
    .title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 0%;
        padding-top: 9%;
    }

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }

    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }

    .vdh-highlight-section {
        padding: 1.5rem 0rem 1.5rem 2.5rem;
    }

    .vdh-highlight-box p {
        padding: 4px;
        font-size: 11px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }
    .small {
        width: 10px;
        height: 10px;
        top: -38px;
        left: -1.5%;
    }


    .medium {
        width: 17px;
        height: 17px;
        top: -23px;
        left: 1%;
    }

    .large {
        width: 23px;
        height: 23px;
        top: -2px;
        left: 5%;
    }

    .general .gentral-text {
        font-size: 13px;
        line-height: 2.3;
        margin-left: 0%;
    }
    .general .gentral-text2 {
        font-size: 13px;
        line-height: 2.3;
        margin-left: 0%;
    }

}


@media (max-width:320px) {
    .title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 0%;
        padding-top: 9%;
    }

    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }

    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }

    .vdh-highlight-box p {
        font-size: 10px;
    }

    .vdh-highlight-box {
        padding: 1.2rem;
        font-size: 14px;
    }


    .small {
        width: 10px;
        height: 10px;
        top: -45px;
        left: -3.5%;
    }


    .medium {
        width: 20px;
        height: 20px;
        top: -30px;
        left: -1%;
    }

    .large {
        width: 30px;
        height: 30px;
        top: -10px;
        left: 3%;
    }

    .vdh-highlight-section {
        padding: 1.5rem 0rem 1.5rem 2.5rem;
    }

    .general .gentral-text {
        font-size: 11px;
        line-height: 2.3;
        margin-left: 0%;
    }
    .general .gentral-text2 {
        font-size: 11px;
        line-height: 2.3;
        margin-left: 0%;
    }


    .box-style {
        font-size: 10px;
        text-align: center !important;
        width: 80%;
        padding: 10px 10px 10px 10px;
    }
}