
#home h1 {
    font-size: 62px;
    font-family: lora;
    color: #183D4A;
    font-weight: 600;
}

#home {
    line-height: 50px;
}

#home ul li {
    color: #183D4A;
    font-size: 24px;
    font-weight: 200;
}

.img-fluid{
    width: 70% !important;
}
.babygirl-img{
    width: 76% !important;
}

@media(max-width: 991px) {
    .babygirl-img {
        width: 116% !important;
        margin-top: 8%;
    }
}

@media (max-width: 767px) {
    .babygirl-img {
        width: 91% !important;
        margin-top: 8%;
    }
}
@media (max-width: 425px) {
    .teeth-icon-style2 {
        font-size: 19px;
        color: #00bfff;
        margin-right: 10px;
        flex-shrink: 0;
        position: relative;
     /* 👈 this nudges the icon slightly downward */
      }
}

.teeth-icon-style2 {
    font-size: 25px;
    color: #00bfff;
    margin-right: 10px;
    flex-shrink: 0;
    position: relative;
 /* 👈 this nudges the icon slightly downward */
  }


@media(max-width: 1115px) {
    .intro-text {
        font-size: 25px !important;
        font-weight: bold;
        color: #183D4A !important;
        font-family: 'Georgia', serif;
        font-style: italic;
        line-height: 2.5;
        margin-top: -5%;
    }
}


.arrow-icon {
    width: 50px;
    height: auto;
    /* vertical-align: middle; */
    margin-left: 45% !important;
    margin-top: -5%;
    /* margin-right: -50% !important; */
}

.intro-text{
    font-size: 30px;
    font-weight: bold;
    color: #183D4A !important;
    font-family: 'Georgia', serif;
    font-style: italic;
    line-height: 2.5; 
    margin-top: -5%;
}
.intro-subtext {
    font-size: 30px;
    font-weight: bold;
    color: #183D4A !important;
    font-family: 'Georgia', serif;
    font-style: italic;
}


.procedure-table-section {
    margin-top: -50px;

}


.table-heading {
    font-size: 42px;
    font-weight: 100;
    color: #003341;
    font-family: lora;
}

.custom-table {
    border: 1px solid #ccc;
    width: 100%;
}

.custom-table th {
    background-color: #13C2CF !important;
    color: white;
    font-size: 22px;
    vertical-align: middle;
    font-family: lora;
    font-weight: bold;
    color: #183D4A !important;
}

.custom-table td {
    background-color: #ECD8B6 !important;
    font-size: 18px;
    color: #183D4A !important;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
   
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    /* padding: 0.75rem; */
    padding: 20px !important;
}


.download-section {
    padding: 3rem 1rem;
    /* background-color: #fff; */
}

.download-title {
    font-size: 27px;
    font-family: Georgia;
    font-style: italic;
    color: black;
}

.arrow-container {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
}

.star {
    width: 100%;
}


.pediatric-section {
    /* background-color: #F9F7F2; */
    /* padding: 60px 20px; */
    color: #1f4e53 !important;
}

.pediatric-section h2 {
    color: #183D4A;
    font-weight: 700;
    font-size: 33px;
    font-family: lora;
}

.pediatric-section h5 {
    font-style: italic !important;
    color: #2A646E;
    margin-bottom: 30px;
    /* text-align: center; */
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Georgia', serif;
    margin-left: 7%;
}
.pediatric-section ul {
    padding-left: 0;
}

.pediatric-section ul li {
    margin-bottom: 1.2rem;
   
}



.pediatric-section li span {
    font-family: lora;
    font-size: 19px;
    line-height: 1.6;
}

.pediatric-section .star-icon {
    width: 50px;
}

.pediatric-section strong {
    font-size: 18px;
    font-family: Montserrat;
}

.curved-arrow {
    position: absolute;
    left: -70px;
    top: -25px;
    width: 50px;
}

.download-btn {
    background-color: #13C2CF !important;
    padding: 0.6rem 1.2rem !important;
    font-family: lora !important;
    font-weight: 200 !important;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    background-color: #ECD8B6 !important;
}

#icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #00c2cb;
    flex-shrink: 0;
    align-self: flex-start;
    /* Align icon with the top of the text */
}

#ul {
    list-style: none;
    padding: 0;
}

#li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

#li span {
    color: #183D4A;
    font-family: lora;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
}

.tips-section {
    padding: 0px 20px;
}

.tips-section h3 {
    font-weight: 700;
    color: #183D4A;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: lora;
    text-align: center;
    margin-top: -8%;
}

.tips-section ol {
    padding-left: 24px;
    font-family: Montserrat;
}

.tips-section ol li {
    margin-bottom: 1rem;
    font-size: 20px;
    color: #2A646E;
    line-height: 1.6;
    font-weight: 300;
}

.rounded-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    float: right;
}

.pl-5 {
    padding-left: 3rem 48px !important;
}

.pr-3 {
    padding-right: 1rem !important;
}


.info-section {
    padding: 50px 20px;
    
}
.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 65px;
    font-weight: 700;
    color: #003b49;
    padding-top: 10%;
    margin-left: 2%;
}

.info-title {
    /* font-weight: 700; */
    text-decoration: underline;
    font-size: 28px;
    font-family: 'Georgia', serif;
    font-style: italic;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.info-list {
    list-style: none;
    font-size: 20px;
    padding-left: 25px;
    font-family: Montserrat;
}

.info-list li {
    margin-bottom: 12px;
    line-height: 1.8;
    position: relative;
    padding-left: 25px;
}

.info-list li::before {
    content: "\f5c9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #00bcd4;
    position: absolute;
    left: 0;
    top: 2px;
}

/* ___________________________________________________________________ */

.list-style ul li {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 2.3;
    color: #183D4A;
}
.star-icon {
    width: 100%;
    margin-left: -10% !important;
    margin-top: 80%;

}

.custom-img {
    width: 531px;
    margin-top: 15%;
    margin-left: -44%;
    margin-bottom: -19%;
}

@media (max-width: 991px) {
    .custom-img {
        width: 148%;
        max-width: 1000px;
        margin-top: 41%;
        margin-left: -30%;
    }
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 55px !important;
        font-weight: 700;
        color: #003b49;
        padding-top: 10%;
    }
    .arrow-icon {
        width: 50px;
        height: auto;
        /* vertical-align: middle; */
        margin-left: 78% !important;
        margin-top: -9%;
        /* margin-right: -50% !important; */
    }
}

@media (max-width: 766px) {
    .arrow-icon {
        width: 50px;
        height: auto;
        /* vertical-align: middle; */
        margin-left: 47% !important;
        margin-top: -9%;
        /* margin-right: -50% !important; */
    }
}
@media (max-width: 996px) {
  
    .custom-img
     {
            width: 145%;
            margin-top: 32%;
            margin-left: -36%;
        }
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }

}

@media (max-width:650px) {
    .title {
        text-align: center;
        font-size: 33px;
        margin-bottom: 0%;
        padding-top: 11%;
    }
}

@media (max-width: 767px) {
    .custom-img {
        width: 90%;
        max-width: 1000px;
        margin-top: -8%;
        margin-left: 1%;
    }
    .title {
        text-align: center;
        font-size: 48px !important;
        margin-bottom: 0%;
        padding-top: 11%;
        padding-bottom: 3%;
    }
}


@media (max-width:430px) {
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
    .title {
        text-align: center;
        font-size: 33px !important;
        margin-bottom: 0%;
        padding-top: 11%;
    }
}

@media (max-width:380px) {
    .download-btn {
        background-color: #13C2CF !important;
        padding: 0.4rem 1.1rem !important;
        font-family: lora !important;
        font-weight: 200 !important;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .star-icon {
        width: 14%;
        margin-left: 0% !important;
        margin-top: -24%;
    }
    .title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 0%;
        padding-top: 9%;
    }
    .custom-table th, .custom-table td {
        border: 1px solid #ddd;
        /* padding: 0.75rem; */
        padding: 7px !important;
    }

}


@media (max-width:430px) {
    .list-style ul li {
        line-height: 2.3;
        margin-top: 0px;
        font-size: 16px;
    }
    .star-icon {
        width: 100%;
        margin-left: -10% !important;
        margin-top: 80%;
    
    }
    
}
@media (max-width:380px) {


    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }
}
@media (max-width:320px) {
    .list-style ul li {
        margin-top: 0px;
        font-size: 14px;
    }
    .title {
        text-align: center;
        font-size: 21px;
        margin-bottom: 0%;
        padding-top: 9%;
    }
}
@media(max-width:996px){

 
    .title {
        font-family: 'Libre Baskerville', serif;
        font-size: 65px;
        font-weight: 700;
        color: #003b49;
        padding-top: 10%;
    }
    .list-style ul li {
        /* line-height: 3; */
        margin-top: 0px;
        font-size: 16px;
    }
}
/* ___________________________________________________________________ */






@media (max-width: 768px) {
    .rounded-image {
        display: block;
        margin: 20px auto;
        float: none;
    }
}


@media (max-width:1024px) {
    #home h1 {
        font-size: 41px;
    }

    #home .row {
        padding-top: 11%;
    }

    #home ul li {
        font-size: 21px;
    }

    #home {
        line-height: 50px;
    }

    .intro-text{
        font-size: 25px !important;
        font-family: 'Georgia', serif;
        font-style: italic;
        
        /* line-height: 0.5 !importan; */
    }
    .intro-subtext {
        font-size: 26px;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        font-size: 18px;
    }

    .custom-table th {
        font-size: 18px;
      
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 32px;
    }



    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        margin-top: -1%;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 18px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .info-section {
        padding: 0px 20px;
    }

    .info-title {
        font-weight: 700;
        text-decoration: underline;
        font-size: 26px;
        font-family: 'Georgia', serif;
        padding-top: 20px;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 20px;
        padding-left: 25px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}

@media (max-width:996px) {
    #home h1 {
        font-size: 47px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .intro-text {
        font-size: 26px !important;
        color: #183D4A;
        font-family: lora;
        margin-top: -6%;
        /* line-height: 0.1; */
    }

    .table-heading {
        font-size: 37px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 14px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 100%;
    }

    .download-title {
        font-size: 27px;
    }


    .pediatric-section {
        background-color: #ECD8B6 !important;
        /* padding: 60px 20px; */
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 25px;
        font-family: lora;
        margin-top: -10%;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        font-family: 'Georgia', serif;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 18px;
      
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        /* list-style-type: disc; */
       
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 16px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 15px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }


    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 32px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 15px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .info-section {
        padding: 22px 20px;
    }

    .info-title {
        font-weight: 700;
        text-decoration: underline;
        font-size: 26px;
        font-family: 'Georgia', serif;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 17px;
        padding-left: 25px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}
@media (max-width: 768px) {
    .star {
        width: 8%
 !important;
    }
}

@media (max-width:768px) {

    #home h1 {
        font-size: 31px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .star {
        width: 52%;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 17px;
        line-height: normal;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 30px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 15px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .info-section {
        padding: 20px 20px;
    }

    .info-title {
        font-weight: 700;
        text-decoration: underline;
        font-size: 26px;
        font-family: 'Georgia', serif;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 14px;
        padding-left: 18px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}
@media (max-width: 502px) {
    .arrow-icon {
        width: 50px;
        height: auto;
        /* vertical-align: middle; */
        margin-left: 65% !important;
        margin-top: -18%;
        /* margin-right: -50% !important; */
    }
}
@media (max-width: 480px) {
    .arrow-icon {
        width: 40px;
        height: auto;
        /* vertical-align: middle; */
        margin-left: 81%
 !important;
        margin-top: -18%;
        /* margin-right: -50% !important; */
    }
}

@media (max-width:525px) {
.intro-text {
    font-size: 20px;
    color: #183D4A;
    font-family: lora;
    /* line-height: 2.7 !important; */
}
}

@media (max-width:600px) {
    #home h1 {
        font-size: 56px;
    }

    #home .row {
        padding-top: 13%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }


    .intro-text {
        font-size: 23px !important;
        color: #183D4A;
        font-family: lora;
        /* line-height: 0.1; */
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        padding: 10px !important;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 80%;
    }

    .download-title {
        font-size: 22px;
    }

    .pediatric-section {
     
        padding: 0px 20px;
        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 26px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 17px;
        font-family: 'Georgia', serif;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        /* list-style-type: disc; */
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 16px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        /* font-size: 18px; */
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 27px;
        font-family: lora;
        text-align: center;
        margin-top: -20%;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 14px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .info-section {
        padding: 50px 20px;
    }

    .info-title {
        /* font-weight: 700; */
        text-decoration: underline;
        font-size: 21px;
        font-family: 'Georgia', serif;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 14px;
        padding-left: 25px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}

@media (max-width:480px) {
    #home h1 {
        font-size: 34px;
    }

    #home .row {
        padding-top: 22%;
    }

    #home ul li {
        font-size: 16px;
    }

    #home {
        line-height: 39px;
    }

    .intro-text{
        font-size: 20px !important;
        color: #183D4A;
        font-family: lora;
        margin-top: -17%;
    }

    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;

        font-size: 12px;
        color: #183D4A;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        padding: 5px !important;
    }

    .custom-table th {
        font-size: 15px;
    }

    .star {
        width: 50%;
    }

    .download-title {
        font-size: 16px;
        margin-top: -6%;
    }
    .pediatric-section {
     
        padding: 0px 20px;

        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 20px;
        font-family: lora;
        letter-spacing: 1px;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 14px;
        font-family: 'Georgia', serif;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        /* list-style-type: disc; */
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 13px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        /* font-size: 17px; */
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }


    .tips-section {
        padding: 11px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 26px;
        font-family: lora;
        text-align: center;
        margin-top: -29%;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 15px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .ps-3 {
        padding-left: 0 !important;
    }

    .pl-5 {
        padding-left: 0px !important;
    }

    .info-section {
        padding: 50px 20px;
    }

    .info-title {
        /* font-weight: 700; */
        text-decoration: underline;
        font-size: 16px;
        font-family: 'Georgia', serif;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 14px !important;
        padding-left: 25px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}

@media (max-width:380px) {
    #home h1 {
        font-size: 28px;
    }

    #home .row {
        margin-top: 0%;
    }

    #home ul li {
        font-size: 16px;
    }


    #home {
        line-height: 42px;
    }

    .intro-text {
        font-size: 14px !important;
        color: #183D4A;
        /* font-family: lora; */
        letter-spacing: 1px;
    }

    .table-heading {
        font-size: 20px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 9px;
        color: #183D4A;
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
    }

    .custom-table th {
        font-size: 9px;
    }

    .star {
        width: 46%;
    }

    .download-title {
        font-size: 13px;
    }

    .pediatric-section {
        /* background-color: #F9F7F2; */
        padding: 0px 20px;

        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 21px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 14px;
        font-family: 'Georgia', serif;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        /* list-style-type: disc; */
    }



    .pediatric-section li span {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 15px;
        font-family: Montserrat;
    }


    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
        /* Align icon with the top of the text */
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 18px;
        font-family: lora;
        text-align: left;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 12px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }

    .ps-3 {
        padding-left: 0 !important;
    }

    .info-section {
        padding: 10px 0px;
    }

    .info-title {
        font-weight: 700;
        text-decoration: underline;
        font-size: 18px;
        font-family: 'Georgia', serif;
        padding-bottom: 5px;
        margin-bottom: 20px;
    }

    .info-list {
        list-style: none;
        font-size: 12px;
        padding-left: 25px;
        font-family: Montserrat;
    }

    .info-list li {
        margin-bottom: 12px;
        line-height: 1.8;
        position: relative;
        padding-left: 25px;
    }

    .info-list li::before {
        content: "\f5c9";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #00bcd4;
        position: absolute;
        left: 0;
        top: 2px;
    }
}

@media (max-width:280px) {
    .ps-3 {
        padding-left: 0 !important;
    }

    #home h1 {
        font-size: 78px;
    }

    #home .row {
        margin-top: 20%;
    }

    #home ul li {
        font-size: 24px;
    }

    #home {
        line-height: 50px;
    }

    .intro-text {
        font-size: 28px !important;
        color: #183D4A;
        font-family: lora;
    }

    .table-heading {
        font-size: 42px;
    }

    .custom-table td {
        background-color: #ECD8B6;
        font-size: 18px;
        color: #183D4A;
        vertical-align: middle;
        font-family: lora;
    }

    .custom-table th {
        font-size: 18px;
    }

    .star {
        width: 80%;
    }

    .download-title {
        font-size: 32px;
    }

    .pediatric-section {
        /* background-color: #F9F7F2; */
        padding: 60px 20px;

        color: #1f4e53;
    }

    .pediatric-section h2 {
        color: #183D4A;
        font-weight: 700;
        font-size: 37px;
        font-family: lora;
    }

    .pediatric-section h5 {
        font-style: italic;
        color: #2A646E;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: underline;
        font-size: 30px;
        font-family: 'Georgia', serif;
    }

    .pediatric-section ul {
        padding-left: 0;
    }

    .pediatric-section ul li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
    }



    .pediatric-section li span {
        font-family: lora;
        font-size: 22px;
        line-height: 1.6;
    }

    .pediatric-section .star-icon {
        width: 50px;
    }

    .pediatric-section strong {
        font-size: 28px;
        font-family: Montserrat;
    }

    #icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: #00c2cb;
        flex-shrink: 0;
        align-self: flex-start;
    }

    #ul {
        list-style: none;
        padding: 0;
    }

    #li {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
    }

    #li span {
        color: #183D4A;
        font-family: lora;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
    }

    .tips-section {
        padding: 0px 20px;
    }

    .tips-section h3 {
        font-weight: 700;
        color: #183D4A;
        margin-bottom: 30px;
        font-size: 42px;
        font-family: lora;
        text-align: center;
    }

    .tips-section ol {
        padding-left: 24px;
        font-family: Montserrat;
    }

    .tips-section ol li {
        margin-bottom: 1rem;
        font-size: 20px;
        color: #2A646E;
        line-height: 1.6;
        font-weight: 300;
    }
}